.ipynb_checkpoints/Lya_fitting-checkpoint.ipynb
.ipynb_checkpoints/OII_fitting-checkpoint.ipynb
.ipynb_checkpoints/Lya_fitting_edr-checkpoint.ipynb
.ipynb_checkpoints/spectra_inspector-checkpoint.ipynb
.ipynb_checkpoints/Lya_fitting_fuji-checkpoint.ipynb
.ipynb_checkpoints/OII_fitting_fuji-checkpoint.ipynb
.ipynb_checkpoints/preliminary-checkpoint.ipynb
.ipynb_checkpoints/preliminary_selection-checkpoint.ipynb
my_coadd_spectra.py
Extracting_QSO_spectra_quick_new_faster-2.py
.ipynb_checkpoints/my_coadd_spectra-checkpoint.py
.ipynb_checkpoints/Extracting_QSO_spectra_quick_new_faster-2-checkpoint.py
.ipynb_checkpoints/.gitignore-checkpoint
__pycache__/my_coadd_spectra.cpython-310.pyc
.ipynb_checkpoints/Visual_inspection-checkpoint.ipynb
.ipynb_checkpoints/training_data_preparation-checkpoint.ipynb
.ipynb_checkpoints/Compact_model-checkpoint.ipynb
.ipynb_checkpoints/All_in_one_Model_noise_included_v2-checkpoint.ipynb
.ipynb_checkpoints/exploration-checkpoint.ipynb
.ipynb_checkpoints/All_in_one_Model_noise_included-checkpoint.ipynb
Others/.ipynb_checkpoints/Extracting_QSO_spectra_quick_new_faster-2-checkpoint.py
Others/.ipynb_checkpoints/my_coadd_spectra-checkpoint.py
experiment/.ipynb_checkpoints/model_thres=max-checkpoint.ipynb
experiment/.ipynb_checkpoints/model_thres-checkpoint.ipynb
experiment/.ipynb_checkpoints/model_no_thres-checkpoint.ipynb
experiment/.ipynb_checkpoints/model_compact1-checkpoint.ipynb
data_prepare/.ipynb_checkpoints/Visual_inspection-checkpoint.ipynb
data_prepare/.ipynb_checkpoints/training_data_preparation-checkpoint.ipynb
data_prepare/.ipynb_checkpoints/preliminary_selection-checkpoint.ipynb
analysis/.ipynb_checkpoints/test_.performance-checkpoint.ipynb
analysis/.ipynb_checkpoints/ray_tune_analysis-checkpoint.ipynb
analysis/.ipynb_checkpoints/All_in_one_Model_noise_included-checkpoint.ipynb
