.ipynb_checkpoints/Lya_fitting-checkpoint.ipynb
.ipynb_checkpoints/OII_fitting-checkpoint.ipynb
.ipynb_checkpoints/Lya_fitting_edr-checkpoint.ipynb
.ipynb_checkpoints/spectra_inspector-checkpoint.ipynb
.ipynb_checkpoints/Lya_fitting_fuji-checkpoint.ipynb
.ipynb_checkpoints/OII_fitting_fuji-checkpoint.ipynb
.ipynb_checkpoints/preliminary-checkpoint.ipynb
.ipynb_checkpoints/preliminary_selection-checkpoint.ipynb
